<div class="filter-container p-4">
    <div class="container">
    <form [formGroup]="form">
      <div class="filter-content">
        <div class="row">
          <div class="form-group col-lg-3">
            <div class="position-relative">
              <ng-select
                [bindValue]="'_id'"
                [bindLabel]="'name'"
                formControlName="destinations"
                class="w-100"
                placeholder="Destination"
                [searchable]="false"
              >
              </ng-select>
              <img 
                class="position-absolute icon" 
                src="assets/icons/down-arrow-red.svg" 
                alt="dropdown-icon" 
                width="12px"
                height="8px"
                />
            </div>
          </div>
          <div class="form-group col-lg-3">
            <div class="position-relative">
              <ng-select
                [bindValue]="'_id'"
                [bindLabel]="'name'"
                formControlName="travelMonth"
                class="w-100"
                placeholder="Travel Month"
                [searchable]="false"
              >
              </ng-select>
              <img 
                class="position-absolute icon" 
                src="assets/icons/down-arrow-red.svg"
                width="12px" 
                height="8px"
                alt="dropdown-icon" 
            />
            </div>
          </div>
          <div class="form-group col-lg-3">
            <div class="position-relative">
              <ng-select
                [bindValue]="'_id'"
                [bindLabel]="'name'"
                class="w-100"
                formControlName="planningStage"
                placeholder="Planning Stage"
                [searchable]="false"
              >
              </ng-select>
              <img class="position-absolute icon" src="assets/icons/down-arrow-red.svg" width="12px" height="8px"
                    alt="dropdown-icon" />
            </div>
          </div>
          <div class="form-group col-lg-2 me-0">
            <button class="me-2 filter-button w-100">Apply Filters</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>