<div class="login-wrapper">
  <div class="login-container">
    <h2><strong>Login</strong> or <strong>Signup</strong></h2>

    @if(errorMessage){
    <div class="error-chip mb-2 px-3 py-2 gap-2">
      <img src="assets/icons/error-icons.png" alt="Error" height="15px" width="15px" />
      <span>{{ errorMessage }}</span>
    </div>
    }
    <!-- Emil Input -->
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="mobile-input">
        <input type="email" formControlName="email" placeholder="Email*" />
      </div>
      <p class="error" *ngIf="loginForm.controls['email'].invalid && loginForm.controls['email'].touched">
        Enter a valid email address
      </p>
      <div class="mobile-input mt-3">
        <input type="password" formControlName="password" placeholder="Password*" />
      </div>

      <!-- Terms and Conditions -->
      <p class="terms">
        By continuing, I agree to the <a href="#">Terms of Use</a> & <a href="javascript::void(0)">Privacy Policy</a>
      </p>

      @if(data?.fromCart){
      <!-- Continue Button -->
      <div class="d-flex justify-content-between align-items-center gap-4">
        <button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary">CONTINUE</button>
        <button type="cancel" class="btn btn-secondary" (click)="closePopUp()">CANCEL</button>
      </div>
      }
      @else {
        <button type="submit" [disabled]="loginForm.invalid">CONTINUE</button>
      }

      <!-- Help Link -->
      <p class="help">
        <span> Don’t have any account? </span>
        <span class="create-account" (click)="redirectToSignUp()"> Create </span>
      </p>
    </form>
  </div>
</div>