<div class="p-4">
    <div class="banner-container">
        <div class="banner-content">
        </div>
    </div>

    <section class="mt-5">
        <h5>Shop By Category</h5>
        <div class="row mt-3">
        @for(category of categoryData; let i= $index; track i){
            <!-- <div class="col-md-3 mb-4"> -->
        <div class="category-card me-3">
            <img [src]="category?.image" [alt]="category?.name" class="category-image" (click)="navigateToProductList(category?.id)">
            <p class="category-name">{{category?.name}}</p>
          </div>
        <!-- </div> -->
        }
        </div>
    </section>
</div>