<div class="signup-wrapper">
    <div class="signup-container">
      <h2>Create Your Account</h2>
  
      <form [formGroup]="signupForm">
        
        <!-- Avatar Upload -->
        <div class="avatar-upload">
          <label for="avatarInput">
            <img *ngIf="avatarPreview" [src]="avatarPreview" alt="Avatar Preview" class="avatar-preview"/>
            <img *ngIf="!avatarPreview" src="assets/icons/default-avatar.png" alt="Default Avatar" class="avatar-preview" loading="lazy"/>
            <input type="file" id="avatarInput" (change)="onFileSelected($event)" accept="image/*" />
          </label>
        </div>
  
        <div class="form-group">
          <input type="text" formControlName="name" placeholder="Full Name *" />
          <p class="error" *ngIf="signupForm.controls['name'].invalid && signupForm.controls['name'].touched">
            Full Name is required (Min 3 characters)
          </p>
        </div>
  
        <div class="form-group">
          <input type="email" formControlName="email" placeholder="Email *" (blur)="validateEmailOnBlur()"/>
          <p class="error" *ngIf="signupForm.controls['email'].invalid && signupForm.controls['email'].touched && !signupForm.controls['email'].errors?.['emailExists']">
            Enter a valid email address
          </p>
          <p class="error" *ngIf="signupForm.controls['email'].errors?.['emailExists']">
            Email already exists. Try another email.
          </p>
        </div>
  
        <div class="position-relative d-flex align-items-center">
          <input [type]="hideCurrentPassword ? 'password' : 'text'" formControlName="password" placeholder="Password *" />
          <span class="position-absolute end-0 me-2" (click)="toggleCurrentPasswordVisibility()">
            <i *ngIf="hideCurrentPassword" class="fa fa-eye-slash" aria-hidden="true"></i>
            <i *ngIf="!hideCurrentPassword" class="fa fa-eye" aria-hidden="true"></i>
          </span>
        </div>
          <p class="error" *ngIf="signupForm.controls['password'].invalid && signupForm.controls['password'].touched">
            Password must be at least 6 characters long and contain only letters & numbers.
          </p>
  
        <p class="terms">
          By signing up, I agree to the <a href="#">Terms of Use</a> & <a href="#">Privacy Policy</a>.
        </p>
  
        <button type="submit" [disabled]="signupForm.invalid" (click)="onSubmit()">SIGN UP</button>
  
        <p class="help">
          Already have an account? <a (click)="navigateToLogin()">Login</a>
        </p>
  
        <p class="error" *ngIf="errorMessage">{{ errorMessage }}</p>
      </form>
    </div>
  </div>
  